body {
    padding-top: 60px;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.title {
    font-size: medium;
}
.title:hover,
.title:focus {
    text-decoration: none;
}

.content {
    text-align: justify;
}

.image {
    border-radius: 7px;
    border: 4px solid white;
    box-shadow: 1px 1px 10px #555;
}

.small {
    height: 40%;
    width: 40%;
}

p{font-size:small;}

.navbar-default {
    background-color:#87CEFA;
    border-color: #E7E7E7;
}

.black{color: black;}